<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD PRODUCT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
   <div class="product-form">

    <h2>Add Product</h2>

    <form method="POST" action="/addproduct">

        <input type="text" name="t1" placeholder="Product Name" required>

        <input type="number" name="t2" placeholder="Price" required>

        <input type="number" name="t3" placeholder="Stock" required>

        <textarea name="t4" placeholder="Description" rows="4"></textarea>

        <input type="text" name="t5" placeholder="Image URL">

        <input type="number" name="t6" placeholder="Category ID">

        <button type="submit">Add Product</button>

    </form>
</div>
</body>
<footer>
    <p>© 2026 ShruShop. All Rights Reserved.</p>
</footer>
</html>
