<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONTACT US</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
   <div class="product-form">
        <h2>Contact Us</h2>
<form method="POST">


<tr>
    <td>Name</td>
    <td><input type="text" name="t1" required></td>
</tr>

<tr>
    <td>Email</td>
    <td><input type="email" name="t2" required></td>
</tr>

<tr>
    <td>Message</td>
    <td><textarea name="t3" required></textarea></td>
</tr>

<tr>
    <td colspan="2" align="center">
        <button type="submit">Send Message</button>
    </td>
</tr>
</table>
</div>
</form> 
<footer>
    <p>© 2026 ShruShop. All Rights Reserved.</p>
</footer>
</body>
</html>