<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UPDATE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <div class="category-form">
     <h2>Add Category</h2>

<form method="POST"  align="center">

    <input type="text" name="t1" value="{{ data[1] }}" required>

    <br><br>

    <button type="submit">Update</button>

</form>
</div>
<footer>
    <p>© 2026 ShruShop. All Rights Reserved.</p>
</footer>
</body>
</html>